.timetable {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  cursor: none;
  grid-auto-flow: row;

  grid-template-areas:
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . .";
}

.d {
  background-color: #f2f2f2;
}

.pn:hover {
  background-color: darkorange;
}

.vt:hover {
  background-color: gold;
}

.sr:hover {
  background-color: greenyellow;
}

.cht:hover {
  background-color: rgb(60, 206, 239);
}

.pt:hover {
  background-color: dodgerblue;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Copperplate", sans-serif;
}

.topnav .secreta {
  color: #333;
  float: right;
  cursor: default;
}

.topnav .secreta:hover {
  color: #f2f2f2;
  background-color: #333;
}

.topnav a:hover {
  background-color: #f2f2f2;
  color: black;
}

.topnav .top {
  color: #333;
  float: right;
  cursor: default;
}

.topnav .top:hover {
  color: #f2f2f2;
  background-color: #333;
}

/*.day:hover {
  background-color: darkorange;
}*/

.timetable {
  height: 80%;
  width: 75%;
  margin: auto;
  margin-top: 5em;
}

/* For presentation only, no need to copy the code below */

.timetable * {
  border: 1px solid rgb(0, 0, 0);
  position: relative;
}

body {
  /*background: url(../img/background1.jpeg);
  background-size: cover;*/
  height: 100%;
  width: 100%;
  margin: 0%;
  background-color: yellow; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, yellow, chocolate);
}

.time,
.day,
.lesson {
  text-align: center;
  padding: 10px 0;
  font-size: larger;
}

.day,
.lesson,
.time {
  padding: 27px 0;
  font-family: "Lucida Console", "Courier New", sans-serif;
  font-size: 29px;
}

.none:hover,
.time:hover {
  background-color: tomato;
  color: aliceblue;
}

.time,
.lesson {
  font-size: 20px;
  padding: 30px 0;
}

ff {
  height: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, red, yellow);
}

footer {
  margin: 1em 0;
  padding: 1.5em 0;
}

.footer {
  margin-top: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  font-family: "Copperplate", fantasy;
  cursor: cell;
}

.topnav a.active {
  background-color: crimson;
  color: #f2f2f2;
}

.dropdown {
  float: left;
  overflow: hidden;
  font-family: "Copperplate";
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: whitesmoke;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
